{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <style>
        body {
        background-image: url('/static/homebackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
    </style>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div style="display: flex; justify-content: center">
        <form action="/changepassword" method="post">
            <div class="mb-4" style="display: flex; justify-content: center">
                <input autocomplete="off" autofocus class="form-control form-control-lg w-auto" id="oldpassword" name="oldpassword" placeholder="Previous Password" type="password">
            </div>
            <div class="mb-3" style="display: flex; justify-content: center">
                <input class="form-control form-control-lg w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password">
            </div>
            <div class="mb-3" style="display: flex; justify-content: center">
                <input class="form-control form-control-lg w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg lead" style="font-family: sans-serif; font-size: 25px; background-color: RebeccaPurple; color: #ddcfcf">Change Password</button>
        </form>
    </div>

{% endblock %}
