{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}

    <style>
        body {
        background-image: url('/static/homebackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
    </style>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="lead errorcodetext">Sorry, but it would seem that {{ message }}. Return&nbsp;<a href="/" style="color: Aquamarine">here.</a></p>

{% endblock %}
